/*CARACTERÍSTICAS GLOBALES*/

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    height: auto;
    outline: none;
    font-family: "Playfair Display", serif;
    height: auto; /* Permite que el body se expanda con el contenido */
    overflow-x: hidden; /* evita scroll lateral */
}

p, a, h1, h3 {
    font-family:"Montserrat", sans-serif;
}




:root {
    --color-principal:#C60021;
    --color-secundario:#780001;
    --color-terciario:#4E020C;
    --color-texto:#FFFFFF;
    --color-texto-secundario:#f9f3f3;
}

html {
    font-size: 62.5%; /*1 rem = 10 pixeles*/   
}



/*LANDING PAGE*/

/* Contenedor del video */
.video-montana {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /*Envía el video al fondo*/
}



#miVideoMontana {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el video */
}



/*ESTILOS DEL MENÚ*/

header {
    display: flex;
    justify-content: space-between; /* Alinear elementos a los extremos */
    align-items: center;
    padding: 4rem 7rem; /* Espacio a los lados */
    flex-wrap: wrap;
}

#miVideoMontana {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}




nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;    
}

nav li {
    margin-right: 4rem;
    font-weight: 500;
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo a:hover {
    color: var(--color-texto-secundario);
}

.boton-mentorias {
    background-color: var(--color-texto);
    color: black;
    border: none;
    padding:1.2rem 2.5rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    transition: 0.3 ease;
}

.boton-mentorias:hover {
    color: var(--color-texto);
    background-color: transparent;
    font-weight: 600;
    border: 1px solid var(--color-texto)
}


.icono-mentorias {
    font-weight: bold;
    font-size: 20px;
}

.icono-mentorias svg {
    width: 1.5rem; /* Mismo tamaño que la fuente del texto */
    height: 1.5rem;
    color: currentColor; 
}




/*CONTENIDO DE LA LANDING*/

.contenido-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.titulo-principal {
    font-size: 12vw;
    text-transform: uppercase;
    margin-bottom: 8rem;
    font-weight:300;
}


.contenido-landing p {
    font-size: 1.5rem;
    width: 70%;
    margin-bottom: 10rem;
    line-height: 1.8;
}

.boton-landing {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;;
    color: var(--color-texto);
    text-decoration: none;
    position: absolute;
    bottom: 5rem;
}




/*ANIMACIONES*/
/*h1*/
.text-focus-in{animation:text-focus-in 1.2s cubic-bezier(.55,.085,.68,.53) both}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


/*Orden de aparición de los elementos de la landing*/
.contenido-landing p,
.contenido-landing a {
    opacity: 0;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px); /* Opcional: para que se deslice desde abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos generales para la animación */

.contenido-landing a {
    animation-name: fade-in-up;
    animation-duration: 0.8s; 
    animation-fill-mode: forwards; 
    animation-timing-function: ease-out;
}

/* Retrasos para cada elemento */
.contenido-landing p {
    animation-delay: 1.5s; 
}

.contenido-landing a {
    animation-delay: 3s; 
}


/*Efecto para el párrafo*/
.tracking-in-expand-fwd{animation:tracking-in-expand-fwd 1s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}


/*Efecto para menú*/
.tracking-in-expand-fwd-top{animation:tracking-in-expand-fwd-top 4s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}


/*Animaciones para cada uno de los elementos del menú*/
@keyframes pulso-personalizado {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25); 
    }
    100% {
        transform: scale(1);
    }
}

.animado:hover {
    animation: pulso-personalizado 1s infinite;
}



/*SLIDER DE SECCIONES*/

/*CARACTERÍSTICAS GLOBALES*/

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    height: 100%;
    /*overflow: hidden;*/ /* Evita barras de desplazamiento */
    outline: none;
    font-family: "Playfair Display", serif;
    height: auto; /* Permite que el body se expanda con el contenido */
}

p, a {
    font-family:"Montserrat", sans-serif;
}



:root {
    --color-principal:#C60021;
    --color-secundario:#780001;
    --color-terciario:#4E020C;
    --color-texto:#FFFFFF;
    --color-texto-secundario:#f9f3f3;
}

html {
    font-size: 62.5%; /*1 rem = 10 pixeles*/
    overflow-x:hidden ; /*Oculta barra horizontal de scroll*/
}



/*lANDING PAGE*/

/* Contenedor del video */
.video-montana {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Envía el video al fondo */
}

#miVideoMontana {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el video */
}



/*ESTILOS DEL MENÚ*/

header {
    display: flex;
    justify-content: space-between; /* Alinear elementos a los extremos */
    align-items: center;
    padding: 4rem 7rem; /* Espacio a los lados */
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 4rem;
    font-weight: 500;
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo a:hover {
    color: var(--color-texto-secundario);
}

.boton-mentorias {
    background-color: var(--color-texto);
    color: black;
    border: none;
    padding:1.2rem 2.5rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    transition: 0.3 ease;
}

.boton-mentorias:hover {
    color: var(--color-texto);
    background-color: transparent;
    font-weight: 600;
    border: 1px solid var(--color-texto)
}


.icono-mentorias {
    font-weight: bold;
    font-size: 20px;
}

.icono-mentorias svg {
    width: 1.5rem; /* Mismo tamaño que la fuente del texto */
    height: 1.5rem;
    color: currentColor; 
}




/*CONTENIDO DE LA LANDING*/

.contenido-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.titulo-principal {
    font-size: 12vw;
    text-transform: uppercase;
    margin-bottom: 8rem;
    font-weight:300;
}


.contenido-landing p {
    font-size: 1.5rem;
    width: 70%;
    margin-bottom: 10rem;
    line-height: 1.8;
}

.boton-landing {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;;
    color: var(--color-texto);
    text-decoration: none;
    position: absolute;
    bottom: 5rem;
}




/*ANIMACIONES*/
/*h1*/
.text-focus-in{animation:text-focus-in 1.2s cubic-bezier(.55,.085,.68,.53) both}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


/*Orden de aparición de los elementos de la landing*/
.contenido-landing p,
.contenido-landing a {
    opacity: 0;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px); /* Opcional: para que se deslice desde abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos generales para la animación */

.contenido-landing a {
    animation-name: fade-in-up;
    animation-duration: 0.8s; 
    animation-fill-mode: forwards; 
    animation-timing-function: ease-out;
}

/* Retrasos para cada elemento */
.contenido-landing p {
    animation-delay: 1.5s; 
}

.contenido-landing a {
    animation-delay: 3s; 
}


/*Efecto para el párrafo*/
.tracking-in-expand-fwd{animation:tracking-in-expand-fwd 1s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}


/*Efecto para menú*/
.tracking-in-expand-fwd-top{animation:tracking-in-expand-fwd-top 4s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}


/*Animaciones para cada uno de los elementos del menú*/
@keyframes pulso-personalizado {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25); 
    }
    100% {
        transform: scale(1);
    }
}

.animado:hover {
    animation: pulso-personalizado 1s infinite;
}



/*SLIDER DE SECCIONES*/


.secciones {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 20rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*slides*/


.secciones-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin: 10rem 0;
    padding: 2rem 0;
}


.titulo-secciones {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}

.secciones i {
    font-size: 3rem; 
    color: rgba(0, 0, 0, 0.622); 
    margin-top: 3rem; 
    margin-bottom: 1rem; 
}

.subtitulo-secciones {
    text-align: center;
    color: black;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 400;
    width: 50%;
}

/* Contenedor de cada item */
.seccion-item {
    width: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Imagen */
.seccion-item img.caratula {
    width:100%;
    height: auto;
}


/*Elementos del interior de la imagen*/


.seccion-item h3 {
    position: absolute; /* Posicionamiento absoluto sobre la imagen */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    width: 100%;
    color: black;
    padding: 2rem 0;
    margin: 0;
    z-index: 2;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: bottom 0.3s ease; /* Transición suave para el efecto de subir */
}


.icono-enlace {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 3;
}

.icono-enlace i {
    font-size: 6rem;
    color: black;
    height: auto;
    filter: invert(1); /* Si el icono es negro, lo hace blanco */
}

/* --- Efectos al pasar el cursor (hover) --- */
.seccion-item:hover .caratula {
    filter: brightness(0.5); /* Oscurece la imagen para que el icono y el título resalten */
}

.seccion-item:hover .icono-enlace {
    opacity: 1; 
}